@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2,
  p,
  span,
  label,
  input[type='text'] {
    @apply mt-auto select-none whitespace-nowrap font-sans text-xs font-medium capitalize leading-none;
  }

  input[type='text'],
  input[type='number'] {
    @apply w-full appearance-none border-0 border-b-2 border-black p-0 px-1 pt-[1px] font-sans text-xs font-normal capitalize leading-none placeholder-white caret-gray-400 selection:bg-indigo-500/80 selection:text-white focus-within:border-black focus-within:ring-0;
    -moz-appearance: textfield;
  }

  input[type='checkbox'] {
    @apply h-2.5 w-2.5 appearance-none checked:bg-indigo-500 hover:bg-gray-300 checked:hover:bg-indigo-600 focus:bg-gray-200 focus:ring-0 focus:ring-offset-0 focus:checked:bg-indigo-500;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
